<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Web for generate powerpoint warranty" />
    <meta
      name="keywords"
      content="generator, powerpoint, warranty, unit, spare part, john deere"
    />
    <meta name="author" content="Regi - Pontianak - Admin GA" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body class="poppins-regular bg-light">
    <nav class="navbar fixed-top" style="background-color: #367c2b">
      <div class="container-fluid">
        <a class="navbar-brand mx-auto text-white" href="{{ url_for('home')}}"
          >PowerPoint Warranty Generator</a
        >
      </div>
    </nav>
    {% block content %} {% endblock %}
    <!-- Modal About-->
    <div
      class="modal"
      id="about"
      tabindex="-1"
      aria-labelledby="about"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 poppins-regular" id="aboutLabel">
              Powerpoint Warranty Generator
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>
              Aplikasi web ini akan mempermudah pembuatan powerpoint Warranty
              dan dapat diakses melalui semua OS (Windows, Mac, Android, IOS).
              <br /><br />Aplikasi web baru selesai dibangun dan masih dalam
              tahap pengembangan lanjutan. Beberapa fitur mungkin masih
              membutuhkan penyempurnaan. <br /><br />
              Kritik, saran, maupun kendala teknis dapat disampaikan melalui
              <a
                class="text-decoration-none"
                href="https://wa.me/6281398300260"
                target="_blank"
                >WhatsApp</a
              >.
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
