{% extends "base.html" %} {% block title %} Generate PPT {% endblock %} {% block content %}
<div class="container" style="margin-top: 5rem">
  <form action="{{ url_for('generate') }}" method="post" enctype="multipart/form-data" autocomplete="off">
    <div class="mb-3">
      <label for="caseNumber" class="form-label">Case Number</label>
      <input type="text" class="form-control" id="caseNumber" name="caseNumber" placeholder="Masukkan Case Number di Sini" required />
    </div>
    <div class="mb-3">
      <label for="unitModel" class="form-label">Unit Model</label>
      <input type="text" class="form-control" id="unitModel" name="unitModel" placeholder="Masukkan Unit Model di Sini" required />
    </div>
    <div class="mb-3">
      <label for="serialNumber" class="form-label">Serial Number</label>
      <input type="text" class="form-control" id="serialNumber" name="serialNumber" placeholder="Masukkan Serial Number di Sini" required />
    </div>
    <div class="mb-3">
      <label for="claimNumber" class="form-label">Claim Number</label>
      <input type="text" class="form-control" id="claimNumber" name="claimNumber" placeholder="Masukkan Claim Number di Sini" required />
    </div>
    <div class="mb-3">
      <div id="previewWO">
        <img src="" alt="Preview Work Order" id="previewWorkOrder" class="img-thumbnail mb-3" />
      </div>
      <label for="WO">Foto Form Work Order</label>
      <input type="file" name="WO" id="WO" class="form-control" accept="image/*" />
    </div>
    <div>
      <button type="button" id="addPhoto" class="btn btn-success">Tambah Foto Unit</button>
    </div>
    <div id="unitPhoto"></div>
    <button type="submit" name="submitButton" id="submitButton">Download PPT</button>
  </form>
</div>
<script>
  const unitPhoto = document.getElementById("unitPhoto");

  function previewImage(previewArea) {
    const file = event.target.files[0];
    if (!file) return;

    const reader = new FileReader();
    reader.onload = function (e) {
      const preview = document.getElementById(previewArea);
      preview.src = e.target.result;
      preview.style.display = "block";
    };

    reader.readAsDataURL(file);
  }

  let counter = 0;

  function addImage() {
    counter++;

    const divider = document.createElement("div");
    divider.id = `unitPhotoChild${counter}`;

    const inputInfo = document.createElement("input");
    inputInfo.type = "text";
    inputInfo.name = "addInfo[]";
    inputInfo.id = `addInfo${counter}`;

    const inputPhoto = document.createElement("input");
    inputPhoto.type = "file";
    inputPhoto.name = "addPhoto[]";
    inputPhoto.id = `addPhoto${counter}`;
    inputPhoto.accept = "image/*";

    const previewPhoto = document.createElement("img");
    previewPhoto.src = "";
    previewPhoto.alt = "Preview Foto Unit";
    previewPhoto.id = `previewPhoto${counter}`;
    previewPhoto.width = 200;
    previewPhoto.height = 200;

    const cancelButton = document.createElement("button");
    cancelButton.type = "button";
    cancelButton.id = `cancelButton${counter}`;
    cancelButton.innerText = "Hapus ini";

    divider.append(inputInfo, previewPhoto, inputPhoto, cancelButton);
    unitPhoto.append(divider);

    inputPhoto.addEventListener("change", (event) => {
      previewImage(previewPhoto.id);
    });

    cancelButton.addEventListener("click", (event) => {
      divider.remove();
    });
  }

  const addPhoto = document.getElementById("addPhoto");
  addPhoto.addEventListener("click", (event) => {
    addImage();
  });

  document.getElementById("WO").addEventListener("change", (event) => {
    previewImage("previewWorkOrder");
  });
</script>
{% endblock %}
