{% extends "base.html" %} {% block title %} Generate PPT {% endblock %} {% block content %}
<div class="container mb-4" style="margin-top: 5rem">
  <div class="text-center m-2">
    <a type="button" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#about">Tentang Web Ini</a>
  </div>
  <form action="{{ url_for('generate') }}" method="post" enctype="multipart/form-data" autocomplete="off" id="formq">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-11 col-md-10 col-lg-8 col-xl-6 p-3 bg-white shadow-sm rounded border">
        <div class="mb-3">
          <label for="caseNumber" class="form-label">Case Number <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="caseNumber" name="caseNumber" placeholder="Masukkan Case Number di Sini" required />
        </div>
        <div class="mb-3">
          <label for="unitModel" class="form-label">Unit Model <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="unitModel" name="unitModel" placeholder="Masukkan Unit Model di Sini" required />
        </div>
        <div class="mb-3">
          <label for="serialNumber" class="form-label">Serial Number <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="serialNumber" name="serialNumber" placeholder="Masukkan Serial Number di Sini" required />
        </div>
        <div class="mb-3">
          <label for="claimNumber" class="form-label">Claim Number</label>
          <input type="text" class="form-control" id="claimNumber" name="claimNumber" placeholder="Masukkan Claim Number di Sini" />
        </div>
        <div class="mb-3">
          <div id="previewWO">
            <img src="" alt="Preview Work Order" id="previewWorkOrder" class="img-thumbnail mb-3" width="200" height="200" style="display: none" />
          </div>
          <label for="WO" class="form-label">Foto Form Work Order</label>
          <input type="file" name="WO" id="WO" class="form-control" accept="image/*" required />
        </div>
        <hr />
        <div id="unitPhoto"></div>
        <div class="text-center">
          <button type="button" id="addPhoto" class="btn btn-success-outline-custom">Tambah Foto Unit</button>
          <button type="button" name="submitButton" id="submitButton" class="btn btn-success-custom">Unduh PPT</button>
        </div>
      </div>
    </div>
    <!-- Modal Submit-->
    <div class="modal fade" id="submit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="submit" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <label for="fileName" class="form-label m-0">Nama File</label>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control" id="fileName" name="fileName" placeholder="Isi nama file untuk disimpan" aria-describedby="help" />
            <div id="help" class="form-text">
              Apabila nama file tidak diisi, maka secara default akan menggunakan Case Number.
              <span class="text-danger"
                ><br />
                <br />Tekan <span class="poppins-semibold">Reset Form</span> ketika <span class="poppins-semibold">UNDUHAN SELESAI</span> dan ingin membuat laporan lain!</span
              >
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success-outline-custom" id="reset">Reset Form</button>
            <button type="submit" class="btn btn-success-custom" id="save">Simpan</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- Modal About-->
<div class="modal" id="about" tabindex="-1" aria-labelledby="about" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 poppins-regular" id="aboutLabel">Powerpoint Warranty Generator</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Aplikasi web ini akan mempermudah pembuatan powerpoint Warranty dan dapat diakses melalui semua OS (Windows, Mac, Android, IOS). <br /><br />Aplikasi web baru selesai dibangun dan masih dalam tahap pengembangan lanjutan. Beberapa
          fitur mungkin masih membutuhkan penyempurnaan. <br /><br />
          Kritik, saran, maupun kendala teknis dapat disampaikan melalui <a class="text-decoration-none" href="https://wa.me/6281398300260" target="_blank">WhatsApp</a>.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
